.App {
  height: 100vh;
  display: flex;
  color: white;
  display: flex;
}

.App__Aside {
  width: 30%;
  background-color: rgb(39, 53, 70);
  z-index: 1;
  
}
.main-logo{
  width:130px;
  height: 120px;
 margin-top: 10%;
 background-image: url(./components/images/M&S.png);
 background-repeat: no-repeat;
 background-size: 100% 100%;
 margin-left: 40%;
 padding: 2%;
}
.down-logo{
display: flex;
justify-content: flex-start;
margin-left: 8%;

}
.down-logo1{
  width:140px;
  height: 140px;
 background-image: url(./components/images/BIM2.png);
 background-repeat: no-repeat;
 background-size: 100% 100%;
margin: 3%;
padding: 1%;
}
.down-logo2{
  width:140px;
  height: 140px;
 background-image: url(./components/images/ZUWAR.png);
 background-repeat: no-repeat;
 background-size: 100% 100%;
margin: 3%;
padding: 1%;
}
.down-logo3{
  width:140px;
  height: 140px;
 background-image: url(./components/images/FUTURE.png);
 background-repeat: no-repeat;
 background-size: 100% 100%;
margin: 3%;
padding: 1%;
}
.down-logo4{
  width:140px;
  height: 140px;
 background-image: url(./components/images/ORCAS.png);
 background-repeat: no-repeat;
 background-size: 100% 100%;
margin: 3%;
padding: 1%;
}



.alligator-turtle {
  object-fit: contain;
}

.App__Form {
  width: 70%;
  height: 100%;
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./components/images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.FormCenter {
  margin-bottom: 80px;
}

.FormTitle {
  color: #555555;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #555555;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 10 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 20px;
  margin-top: 30px;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #555555;
  margin-bottom: 20px;
}

.FormField {
  margin-bottom: 50px;
  margin-left: 20px;

 
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;
}
.FormField__Input {
  width: 90%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #bd1f2d;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.component_page{
  background-image: url(./components/images/k-s6-jj-ae-07008-bw_1.jpg);
  position: absolute;
  background-position: 0cm;
  width: 100%;
  height: 100%;
  background-size: cover;
  box-shadow: antiquewhite;
  text-align: center; 

}

.div_imgM{
  width: 150px;
  height: 150px;
  background-size: cover;
  margin-top: 70px;
  background-image: url('./components/images/M&S.png');
  border: 0px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s ; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s ;
  animation-iteration-count:infinite;

}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-image: url('./components/images/ms.jpg') }
  25%  {background-image: url('./components/images/M&S.png') }
  50%  {background-image: url('./components/images/ms.jpg') }
  100% {background-image: url('./components/images/M&S.png') }
}



.div_companies{
  height: 150px;
  background-size: cover;
  margin-top: 20px;
  align-content: center
}


.div_imgZ{
  width: 150px;
  height: 150px;
  background-size: cover;
  margin-top: 70px;
  background-image: url('./components/images/ZUWAR.png');
  border:0;
  margin-left: 20px;
}

.div_imgZ:hover{
  background-image: url('./components/images/zuwar.jpg');
}
.div_imgB{
  width: 150px;
  height: 150px;
  background-size: cover;
  margin-top: 70px;
  background-image: url('./components/images/BIM.png');
  border:0;
  margin-left: 20px;
}

.div_imgB:hover{
  background-image: url('./components/images/BIM.jpg');
}
.div_imgF{
  width: 150px;
  height: 150px;
  background-size: cover;
  margin-top: 70px;
  background-image: url('./components/images/FUTURE.png');
  border:0;
  margin-left: 20px;
}

.div_imgF:hover{
  background-image: url('./components/images/future.jpg');
}

.div_imgO{
  width: 150px;
  height: 150px;
  background-size: cover;
  margin-top: 70px;
  background-image: url('./components/images/ORCAS.png');
  border:0;
  margin-left: 20px;
}

.div_imgO:hover{
  background-image: url('./components/images/ORCAS-Small.png');
}

/* -------------- Reservation -----------------*/
.div_Res{
  width: 60%;
  height: 100vh;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #fff;
  direction: rtl;

}
.div_ResMain{
  width: 100%;
  height: 100%;
  background-color: rgb(39, 53, 70);
}

.FormField_res {
  margin-bottom: 50px;
  margin-right: 20px;
}

.FormField__LabelRes {
  display: block;
  font-size: .9em;
  color:rgb(39, 53, 70);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif ;
  
}
.h1_Res{
  display: flex;
  justify-content: center;
  color: #bd1f2d;
 
}

.FormField__Input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #bd1f2d;
  font-size: 1em;
  font-weight: 300;
  direction:ltr;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Button {
  background-color:#bd1f2d;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 15%;
}

/* -------------header -------------------- */

.header_body{
  background-color: #bd1f2d;
  width:100hv;
  height: 50px;
  direction: rtl;
}

.header_body__Item{
  background-color: #bd1f2d;
  color: #fff;
  padding: 15px 25px;
  cursor: pointer;
  font-size: 1.4em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.header_body__Item--active{
  background-color: #686868;
  color: white;
}
/*-------------------table ------------------------------*/
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 15px;
}

#myTable th, #myTable td {
  text-align: center;
  padding: 8px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

.tabel_Edit_div{
  width: auto;
  height: 100%;
  margin-top: 80px;
  margin-right: 250px;
}

.button_delete{
  background-color: #f44336; 
  border: none;
  color: white;
  padding: 10px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button_edit{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button_display{
  background-color: #ffbb33; 
  border: none;
  color: white;
  padding: 10px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button_add{
  background-color: #3383FF; 
  border: none;
  color: white;
  padding: 10px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button_display{
  background-color: #FFBB33; 
  border: none;
  color: white;
  padding: 10px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
/*-------------------modal ------------------------------*/ 
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 1
}

.modal-main {
  position:fixed;
  background: white;
  width:60%;
  height: auto;
  top:55%;
  left:40%;
  transform: translate(-50%,-50%);
  
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
