.main_div{
    width:auto;
    height: 100%;
    direction: rtl;
    display: flex;
    justify-content: center; 
}

.form_div{
    width: auto;
    height: 100%;
    margin-top: 80px;
    margin-right: 250px;
    border-style: solid;
    border-width: medium;
}
.for_div_edit{
    width: auto;
    height: 100%;
    border-style: solid;    
    border-width: medium;
    background: #fff;
}


.title_div{
    display: flex;
    justify-content:center;
}

.form_sub_div{
    display: inline;
    justify-content: space-between;
    margin-right: 10px;
    
}

.input_fields{
    width:180px;
    outline: none;
    color: black;
    background-color: transparent;
    border: none;
    border: 1px solid #000;
    border-radius: 5px; 
    font-size: 17px;  
    height: 30px;  
}

.input_fields_error{
    width:180px;
    outline: none;
    color: black;
    background-color: #fce4e4;
    border: none;
    border: 1px solid #cc0033;
    outline: none;
    border-radius: 5px; 
    font-size: 17px;  
    height: 30px; 
     
}
.input_fields_success{
    width:180px;
    outline: none;
    color: black;
    background-color: hsl(0, 0%, 100%);
    border: none;
    border: 2px solid #3c9419;
    outline: none;
    border-radius: 5px; 
    font-size: 17px;  
    height: 30px; 
     
}


.label_fields{
    color: #000;
    font-size: 27px;   
    width:auto;
    margin-right: 10px;
}

.button_fields{
    height: 32px;
    color: #000;
    border:1px solid #bd1f2d;
    font-size: 27px; 
    border-radius: 50px;
    width:auto;
    background-color: #bd1f2d;
}

.button_style{
    height:40px;
    width: 200px;
    border-radius: 10px;
    background-color: #bd1f2d;
    border-color: transparent;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;    
}
.button_style_popup{
    height:40px;
    width: 150px;
    border-radius: 10px;
    background-color: #bd1f2d;
    border-color: transparent;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center; 
    margin-top: 50px;
}

.flex_start{
    width:auto;
    display: flex;
    justify-content:flex-start;   
    direction: rtl;
    
}


.textarea{
    width:180px;
    outline: none;
    color: black;
    background-color: transparent;
    border: none;
    border: 1px solid #000;
    border-radius: 5px; 
    font-size: 17px;  
    height: 100px;
	direction:rtl;
}
.textarea_error{
    width:180px;
    outline: none;
    color: black;
    background-color: #fce4e4;
    border: none;
    border: 1px solid #cc0033;
    outline: none;
    border-radius: 5px; 
    font-size: 17px;  
    height: 100px;
    direction:rtl;
      
}

.button_div{
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
    margin-top: 30px;
} 

.input-group {
    color: #333;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin: 0 20px 10px;
    width: 200px;
  }
  
  label {
    display: block;
    margin-bottom: 2px;
  }
  
  input[type=text] {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 13px;
    height: 33px;
    margin: 0;
    padding: 0 0 0 15px;
    width: 100%;
  }
  
  .input_container input[type="text"]{  
    width: relative;  
    outline: none;
    color: black;
    background-color: transparent;
    border: none;
    border: 1px solid #000;
    border-radius: 5px; 
    font-size: 17px;  
    height: 30px; 
    margin-right: 20px;
   
  }
  .error-message {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
  }
  
  .input-group .error-message {
    display: none;
  }
  
  
  /* Error Styling */
  
  .error label {
    color: #cc0033;
  }
  
  .error input[type=text] {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
    outline: none;
  }
  
  .error .error-message {
    display: inline-block;
  }
  
.Deletebutton{
display: flex;
justify-content: center;
background: #bd1f2d;
color: #fff;
font-size: 16px;
font-family: 'Times New Roman', Times, serif;
border: none;
margin-right: 10px;
height: 25px;
width:60px;
  }
  
  .popup {
    position: fixed;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    overflow:scroll;
    direction: rtl;
  }

  .popup_inner {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
  }
  
  .popup-inner_res{
    position: absolute;
    left: 5%;
    right: 25%;
    top: 5%;
    bottom: 5%;
    height: 100%;
    margin: auto;
    height: auto;
    background: white;
  }

  .form_div_res{
    width: auto;
    height: auto;
    background: #fff;
    border-style: solid;
    border-width: medium;
}

.popup-inner_display{
    position: absolute;
    left: 5%;
    right: 25%;
    top: 5%;
    bottom: 5%;
    background: white;
    width: 21cm;
    height: 29.7cm; 
    direction: rtl;
  }
.closeButton{
    position: absolute;
    right: 24%;
    top: 4%;
    margin: auto;
    background: #fff;
    width:30px;
    height: 30px;
    border-radius: 50%;
    z-index: 100;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.label_quality{
    margin-right: 10px;
    margin-top: 20px;
}
.textarea_quality{
    width:90%;
    font-size: 17px;  
    height:250px;
    direction:rtl;
    background-image: linear-gradient(white, white 30px, #005 30px, #ccc 31px, white 31px);
    background-size: 100% 31px;
    border-radius: 8px;
    line-height: 31px;
    font-family:'Times New Roman', Times, serif;
    padding: 8px;
    border-color: #000
}
.textarea_quality_error{
    width:90%;
    font-size: 17px;  
    height:250px;
    direction:rtl;
    background-image: linear-gradient(#ccc, #ccc 30px, #005 30px, #ccc 31px, white 31px);
    background-size: 100% 31px;
    border-radius: 8px;
    line-height: 31px;
    font-family:'Times New Roman', Times, serif;
    padding: 8px;
    border-color: #cc0033;
    background-color: #999;

}

.form_sub_div_quality{
    display:inline;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.button_div_qualiy{
    display: flex;
    justify-content:center;
    margin-bottom: 10px;
    margin-top: 20px;
} 

.mainFormDisplay{
    background: white;
    width: 21cm;
    height: 29.7cm; 
    direction: rtl;
 
}


.DisplayHeaderBox{
    width:90%;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    border: 1.3px solid #000;
    margin-top: 40px;
    height: 50px;
    text-align: center;
    align-items: center;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    direction: rtl;
}
.DisplayBodyBox{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    font-size: 19px;
}
.DisplayBody1Box{
 width:70%;
}

.DisplayBody2Box{
    width:100%;
    display: flex;
    justify-content:flex-start;
}

.DisplayLabel{
    display: inline;
    justify-content: flex-start;
    margin: 0;
}
.DisplayLabel2{
    display: inline;
    justify-content: flex-start;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 19px;
}
.DisplayLabel3{
    display: inline;
    justify-content: flex-start;
    margin-top: 40px;
    font-size: 20px;
    margin-right: 30px;
}

.DisplayLabel4{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    font-size: 19px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.DisplayLabel5{
    font-size: 20px;
    position: absolute;
    vertical-align: bottom;
    display: table-cell;
    position: absolute;
    bottom: 0%;
    margin-right: 30px;
    margin-bottom: 100px;   
  
}
.spanDisplay{
    border-top:1.5px solid #000;
    width: relative;
    border-style: dotted;
}
.buttonDisplay{
    width: auto;
    margin-top: 80px;
    margin-right: 150px;
    height: 30px;
    display: flex;
    justify-content: inherit;
  
   
}

.buttonDisplay1{
    position: relative;
    width:100px;
    height:30px;
    font-size:19px;
    color: white;
    background-color: #bd1f2d;
    border: #bd1f2d;
    border-radius: 10px;
}

.form_div_display{
    width: auto;
    height: 100%;
    margin-top: 80px;
    margin-right: 100px;
    border-style: solid;
    border-width: medium;
}

.form_div_display_admin{
    width: auto;
    height: 100%;
    border-style: solid;
    border-width: medium;
}

.resDisplay_form{
    width: auto;
    height: 100%;
    border-style: solid;
    border-width: medium;
}

.displaycontentDiv{
    display: flex;
    justify-content: space-evenly;
}


.buttonDisplay2{
 width:100px;
 height:30px;
 font-size:19px;
 color: white;
 background-color: #bd1f2d;
 border: #bd1f2d;
 border-radius: 10px;
 margin-left: 50%

}

.paraDisplay{
    margin-top: 30px;
    margin-right: 30px;
    direction: rtl
}