.side-drawer{
    box-shadow: 2px 0px -3px rgba(0,0,0,0.5);
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    background-color: rgb(23, 29, 36);
    z-index: 1;
    margin-top: 57px; 
    overflow-x: hidden; 
    transition: 0.35s ease-in;

}
.side-drawer.open {
   width: 20%;

  }
.side-drawer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
 
}

.side-drawer il{
    width: auto;
    background-color: aqua;
    font-size: 1.5rem;
  
   
}
.side-drawer-nav{
    display:flex;
    justify-content: flex-end;
   text-decoration: none;
   margin-right: 10%;
   color: white;
   height: 60px;
   width: 100%;
   border-color: transparent;
   background-color: transparent;
   float:right;
   font-size: 1.2rem;
}
.side-drawer-nav_il{
    display:flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 50px;
    width: 100%;
    border-color: transparent;
    background-color: transparent;
    float:right;
    font-size: 1.0rem;
 }

 .side-drawer-goIN{
    text-decoration: none;
    color: white;
    height: 50px;
    width: 100%;
    margin-right: 40px;
    border-color: transparent;
    background-color: transparent;
    float:right;
    font-size: 1.0rem;
 }

.side-drawer-nav:hover,
.side-drawer-nav:active{
    color: #bd1f2d;
    background-color: transparent;
}

.side-drawer-nav__active{
    color: #bd1f2d;
}

