.toolbar{
    width:100%;
    position: fixed;
    background-color: #bd1f2d;
    height: 56px;
    right: 0%;
    top: 0%;
    direction: rtl;
}
.toolbar__navigation{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    justify-content:space-between;
}
.toolbar__logo{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    text-transform: uppercase;
    margin-right: 0.7rem;
  
}

.toolbar_navigation-items ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    height: 56px;
    align-items: center;

}
.toolbar_navigation-items li{
    padding: 0 0.5rem;
    
}
.spacer{
    flex: 1;
}

.toolbar_navigation-items {
    color: white;
    text-decoration: none; 
    direction: rtl;
}

.toolbar_navigation-items-nav{
    color: white;
    text-decoration: none; 
    font-size: 20px;
}
.toolbar_navigation-items-nav:hover{
    color: white;
    background-color: darkgray;
}
.toolbar_navigation-items-nav--active{
    color: chocolate;
    text-decoration: none; 
}

.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width :30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}
.toggle-button:focus{
    outline: none;
}

.toggle-button__line{
    width: 30px;
    height: 2px;
    background: white;
}